@model CalculatorAPI.Data.Data
@{
    ViewData["Title"] = "Add new value";
}

<div class="text-start">
    <h1 class="display-4">Add Cathegories</h1>
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name Cathegory</label>
            <input type="text" name="Cathegories" value="" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
